<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<body>

   <div class="col-lg-3"></div>
    <form class="col-lg-6" id="myForm" action="#">


        <table id="tblChoice">
            <tr>
                <td class="col-lg-6">Student Number</td>
                <td class="col-lg-6"><input id="txtStudentNumber" /></td>
            </tr>
            <tr>
                <td class="col-lg-6">First Name</td>
                <td class="col-lg-6"><input id="txtFirstName" /></td>
            </tr>
            <tr>
                <td class="col-lg-6">Last Name</td>
                <td class="col-lg-6"><input id="txtLastName" /></td>
            </tr>
            <tr>
                <td class="col-lg-6">Term</td>
                <td class="col-lg-6" id="txtTermId"></td>
            </tr>
            <tr>
                <td class="col-lg-6">First Choice</td>
                <td class="col-lg-6"><select id="selFirstChoice"></select></td>
            </tr>
            <tr>
                <td class="col-lg-6">Second Choice</td>
                <td class="col-lg-6"><select id="selSecondChoice"></select></td>
            </tr>
            <tr>
                <td class="col-lg-6">Third Choice</td>
                <td class="col-lg-6"><select id="selThirdChoice"></select></td>
            </tr>
            <tr>
                <td class="col-lg-6">Fourth Choice</td>
                <td class="col-lg-6"><select id="selFourthChoice"></select></td>
            </tr>
        </table>
        <br />
        <button id="btnSubmit" type="button">Submit</button>
    </form>
    <div class="col-lg-3"></div>
    <script>
        $(document).ready(function () {
            $('#selFirstChoice').append($('<option/>').text("Select Choice #1"));
            $('#selSecondChoice').append($('<option/>').text("Select Choice #2"));
            $('#selThirdChoice').append($('<option/>').text("Select Choice #3"));
            $('#selFourthChoice').append($('<option/>').text("Select Choice #4"));


        });

        function getChoices() {
            clearResult();
            $.get(optionUrl).always(showOptions);
            $.get(termUrl).always(showTerm);
        };


        var clearResult = function () {
            $("#preOutput").text("");
        }

        var url = "http://" + document.location.host + "/api/";
        var termUrl = url + "Term";
        var optionUrl = url + "Option";
        var choiceUrl = url + "Choice";

        var allOptions;
        var currentTerm;

        var showOptions = function (object) {
            allOptions = object;
            $.each(object, function (i, option) {
                $('#selFirstChoice').append($('<option/>').attr("value", option.Id).text(option.Title));
            });

            $.each(object, function (i, option) {
                $('#selSecondChoice').append($('<option/>').attr("value", option.Id).text(option.Title));
            });

            $.each(object, function (i, option) {
                $('#selThirdChoice').append($('<option/>').attr("value", option.Id).text(option.Title));
            });

            $.each(object, function (i, option) {
                $('#selFourthChoice').append($('<option/>').attr("value", option.Id).text(option.Title));
            });
        };

        var showTerm = function (object) {
            currentTerm = object;
            $("#txtTermId").text(object.Id);

        }

        $("#btnSubmit").click(Save);
        window.onload = getChoices;
        function Save() {
            jQuery.support.cors = true;
            var choice = {
                StudentNumber: $('#txtStudentNumber').val(),
                FirstName: $('#txtFirstName').val(),
                LastName: $('#txtLastName').val(),
                TermId: currentTerm.Id,
                FirstOptionChoiceId: $('#selFirstChoice').find(':selected').val(),
                SecondOptionChoiceId: $('#selSecondChoice').find(':selected').val(),
                ThirdOptionChoiceId: $('#selThirdChoice').find(':selected').val(),
                ForthOptionChoiceId: $('#selFourthChoice').find(':selected').val()
            };

            $.ajax({
                url: choiceUrl,
                type: 'POST',
                data: JSON.stringify(choice),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    toastr.success('Your choices have been submitted.');
                    $('#myForm').trigger("reset");
                },
                error: function (x, y, z) {
                    toastr.error('Something went wrong.', 'Please try again.');
                }
            });
        }
    </script>
</body>
</html>
